h1 {
	font-size: 1.5em;
}

h2 {
	font-weight: normal;
	font-size: 1.2em;
	text-transform: uppercase;
}

body {
	font: 12pt/1.5em sans-serif;
}

header {
	background-color: #16a085;
	padding: 5px;
	color: white;
}

nav {
	background-color: #e67e22;
	padding: 5px;
	color: white;
}

main {
	background-color: #c0392b;
	padding: 5px;
	color: white;
}

footer {
	background-color: #8e44ad;
	padding: 5px;
	color: white;
}